.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;

    h2 {
        margin: 5rem;
    }
}

.image {
    flex: 1 1 40rem;

    img {
        border: solid rgba($color: #000000, $alpha: 0.1);
        border-width: 0.1rem;
        border-radius: 1.5rem;
    }
}

@media screen and (max-width: 650px) {

    .travelly,
    .elena-joy {
        img {
            width: 80%;
        }
    }
}